.searchValue{
    color: green !important;
    margin-bottom: 0px !important;
    width: 157px !important;
}

.buttonBack{
    color: red;
}


section {
    padding-top: 30px;
}

.dropdown > a:hover {
    text-decoration: none;
    background-color: #EEE;
}

.nav-list{
    margin: 30px 0 0;
    padding: 0;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    list-style: none;
}

.nav-list > li > a, .nav-list > p {
    font-size: 14px;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #E5E5E5;
}

.nav-list > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.nav-list >  p {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.nav-list > li > a:hover, .nav-list > li > p:hover {
    background-color: whiteSmoke;
    text-decoration: none;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #08C;
}

.nav-list > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

#map{
    margin: 20px 0 0;
    padding: 0;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}
#map_canvas{
    height:400px;
    font-size: 14px;
    display: block;
    margin: 0 0 -1px;
    /*padding: 8px 14px;*/
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

@media (min-width: 400px) and (max-width: 980px) {
    .nav-list {
        margin-top: 20px;
    }
}
@media (max-width: 400px) {
    .nav-list {
        text-align: center;
        width: auto;
        margin-bottom: 20px;
    }
    .nav-list li a, .nav-list p{font-size:18px;}
}

