<p>
<h1><%- Lang.Results %></h1>
</p>


<div class="container" style="padding-top: 1em;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><%- Lang.Number %></th>
            <th><%- Lang.Destination %></th>
            <th><%- Lang.estTime %></th>
        </tr>
        </thead>
        <tbody id="stopBusListNew">
        </tbody>
    </table>
</div>

<div class="formRow linksRow" style="float:left;">
    <input type="button" class="button btn btn-primary btn-medium" value="<%- Lang.Back %>" data-localize="login.backToLogin"/>
</div>
