<div class="container">
    <div class="account-container">

        <div class="content clearfix">

            <form action="./" method="get" class="busqueda">

                <h1><%- Lang.Informacion %></h1>

                <div class="search">

                    <input type="text" name="bus-stops" value="" placeholder="<%- Lang.StopNumberExample %>" class="searchValue" />

                    <input type="submit" value="<%- Lang.Search %>" class="button btn btn-warning btn-medium" />

                    <input type="submit" value="<%- Lang.SearchNumberAutomatic %>" class="button btn btn-primary btn-medium" />

                </div>

            </form>

        </div>
    </div>
</div>
            